<!-- 
<app-top-bar></app-top-bar>
<app-left-bar></app-left-bar>
<app-online-friends></app-online-friends> -->


<div class="wrap-component">
    <form class="container-form">
        <div class="cf-sec-one">
            <img class="cf-sec-one-img" src="https://cdn.intra.42.fr/users/0f4ab189b6f733fe558dea7254f1212a/eabdelha.jpg" alt="avatar">
            <svg class="cf-sec-one-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/modify.svg#icon-modify"></use>
            </svg>
        </div>
        <div class="cf-sec-two">
    
            <label class="cf-sec-two-label"  for="username">
                <svg class="cf-sec-two-icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./assets/icons/modify_linear.svg#icon-modify_linear"></use>
                </svg>
            </label>
            <input type="text" class="cf-sec-two-text" name="username" id="username" value="defaultUsername">
        </div>
        <button type="submit" class="cf-sec-two-btn">Submit</button>
    </form>
</div>