
<app-top-bar></app-top-bar>
<app-left-bar></app-left-bar>
<app-online-friends></app-online-friends>


<div class="wrap-component">
    <form class="container-form" [formGroup]="myformGroup" (ngSubmit)="onSubmitForm()">
        <div class="cf-sec-one">
            <label for="imageInput" class="cf-sec-one-label">
                <img class="cf-sec-one-img" [src]="selectedImage" 
                    style="display: none" onload="this.style.display=''"
                    onerror="this.src='./assets/imgs/blank_profile.png'; this.style.display=''"
                />
                <svg class="cf-sec-one-icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./assets/icons/modify.svg#icon-modify"></use>
                </svg>
            </label>
            <input 
                class="cf-sec-one-input" type="file" id="imageInput" 
                accept="image/png, image/gif, image/jpeg, image/jpg"
                (change)="onImageSelected($event)" 
            >
        </div>
        <div class="cf-sec-two">
            <div class="cf-sec-two-input">
                <label class="cf-sec-two-label"  for="username">
                    <svg class="cf-sec-two-icon i1" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="./assets/icons/modify_linear.svg#icon-modify_linear"></use>
                    </svg>
                </label>
                <input class="cf-sec-two-text" type="text" formControlName="username" id="username" placeholder="Username">
            </div>
            <div class="cf-sec-two-alert" [class.cf-sec-two-alert-hide]="!isUsernameTaken">
                <svg class="cf-sec-two-icon i2" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./assets/icons/warn.svg#icon-warn"></use>
                </svg>
                username already taken ! 
            </div>
            
            <div class="cf-sec-two-message" *ngIf="myformGroup.get('username')?.hasError('required')">
                <svg class="cf-sec-two-icon i3" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./assets/icons/warn.svg#icon-warn"></use>
                </svg>
                Username is required !
            </div>
            <div class="cf-sec-two-message" *ngIf="myformGroup.get('username')?.hasError('minlength')">
                <svg class="cf-sec-two-icon i3" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./assets/icons/warn.svg#icon-warn"></use>
                </svg>
                Invalid length: less than 4 !            
            </div>
            <div class="cf-sec-two-message" *ngIf="myformGroup.get('username')?.hasError('maxlength')">
                <svg class="cf-sec-two-icon i3" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./assets/icons/warn.svg#icon-warn"></use>
                </svg>
                Invalid length: more than 20 !    
            </div>
            <div class="cf-sec-two-message" *ngIf="myformGroup.get('username')?.hasError('pattern')">
                <svg class="cf-sec-two-icon i3" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./assets/icons/warn.svg#icon-warn"></use>
                </svg>
                Invalid character !
            </div>



        </div>
        
        <button type="submit" class="cf-sec-two-btn" [disabled]="myformGroup.invalid">Submit</button>
        
    </form>
</div>