<div class="more-opts">
    <div class="mo-item">
        <svg class="mo-icon" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="./assets/icons/message_add.svg#icon-message_add"></use>
        </svg>
        <span class="mo-text"> Message </span> 
    </div>
    <div class="mo-item">
        <svg class="mo-icon" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="./assets/icons/play_add.svg#icon-play_add"></use>
        </svg>
        <span class="mo-text"> Play </span> 
    </div>
    <div class="mo-item">
        <svg class="mo-icon" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="./assets/icons/block.svg#icon-block"></use>
        </svg>
        <span class="mo-text"> Block </span> 
    </div>
    <div class="mo-item" *ngIf="false">
        <svg class="mo-icon" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="./assets/icons/unblock.svg#icon-unblock"></use>
        </svg>
        <span class="mo-text"> Unblock </span> 
    </div>

</div>