
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.wraper {
    width: 100%; 
  height: 100%;
  position: fixed; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  z-index: 13;
}

.overlay {
    position: fixed;
    z-index: 19;
    width: 100vw;
    height: 100vh;
    background-color: rgba(11, 11, 11, 0.7);
    z-index: 14;
}

.confirm-modal {
    position: fixed;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    flex-direction: column;
    position: absolute;
    background-color: var(--modal-background-color);
    top: 50%;
    left: 50%;
    width: min(90%, 30rem);
    min-width: min-content;
    transform: translate(-50%, -50%);
    padding: 1rem 1.2rem;
    border-radius: 0.6rem;
    z-index: 15;
    color: var(--modal-text-color);

}
.cm-title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.cm-img {
    width: 16rem;
    padding: 0.2rem;
    background-color: white;
    border-radius: 1.6rem;
}

.cm-indent {
    flex-grow: 1;
}

.cm-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

}
.cm-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 6rem;
    height: 2rem;
    border-radius: 0.4rem;
    border: none;
}


.cm-btn.b1 {
    border: 0.08rem solid var(--modal-text-color) ;
    background-color: var(--modal-background-color);
}

.cm-btn.b2 {
    background-color: var(--second-text-color);
}

.cm-btn.b1:hover {
        
    cursor: pointer;
    color: var(--second-text-color);
    border: 0.08rem solid var(--second-hover-background-color) ;
}
.cm-btn.b2:hover {
        
    cursor: pointer;
    color: var(--primary-text-color);
}






.cm-form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 16rem;
    height: 6rem;
    padding-top: 1.2rem;
}

.cm-form-input {
    height: 2.6rem;
    width: 100%;
    border: 0.08rem solid var(--primary-border-color); 
    border-radius: 0.4rem;
    padding-left: 0.6rem;
    outline: none;
    
}
.cm-form-input:focus {
    border-color: var(--second-text-color);
}


  .cm-alert-danger {
    color: #d9534f;
  }
  


  .cm-sec-two-message {
    display: flex;
    align-items: center;
    color: var(--second-text-color);
    top: 18.6rem;
    font-size: 0.8rem;
}

.cm-sec-two-icon.i3 {
    width: 1rem;
    height: 1rem;
    stroke: var(--second-text-color);
    margin-right: 0.3rem;
    fill: transparent;

}


.is-incorrect-code {
    color: red; 
}

.is-incorrect-code
.cm-sec-two-icon.i3 {
    stroke: red;
}