/*------------------------------------------SEARCH BAR--------------------------------------------*/

.search {
  position: absolute;
  left: 243px;
  right: 243px;
  height: 75px;
  background-color: #1E1212;
}

.input {
  background-color: #1E1212;
  color: white;
  position: absolute;
  left: 50px;
  top: 5px;
  height: 80%;
  width: 72%;
  border: none;
  border-radius: 15px;
  outline: none;
  border-color: #1E1212;
}

.fa-search {
  position: absolute;
  margin-left: 14px;
  margin-top: 20px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.fa-commenting {
  position: absolute;
  color: white;
  font-size: 35px;
  top: 17px;
  right: 130px;
  cursor: pointer;
}

.fa-bell {
  position: absolute;
  color: white;
  font-size: 35px;
  top: 17px;
  right: 50px;
  cursor: pointer;
}

/*----------------------------------------------LEFT BAR----------------------------------------------*/

.left {
  height: 100%;
  width: 243px;
  /* width: 18%; */
  position: absolute;
  background-color: #231C1C;
}

.fa-eercast {
  font-size:40px;
  margin-left: 20px;
  margin-top: 18px;
  margin-bottom: 50px;
  color: white;
}

.fa-home, .fa-user-circle, .fa-gamepad, .fa-comments, .fa-address-card, .fa-list-ol {
  font-size: 23px;
  margin-left: 8px;
  margin-right: 8px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  padding:9px 10px;
  display:block;

  transition: 0.5s;
  overflow: hidden;
  letter-spacing: 0.1em;
}

#menu {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fa-home:hover, .fa-user-circle:hover, .fa-gamepad:hover, .fa-comments:hover, .fa-address-card:hover, .fa-list-ol:hover {
  background-color: #D38146;
}

.fa-gear {
  font-size: 24px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 55px;
  bottom: 0px;
  position: fixed;
  color: white;
  padding:8px 10px;
  height: 40px;
  width: 228px;
  /* display: block; */
  cursor: pointer;
  border-radius: 6px;
  transition: 0.5s;
}

.fa-sign-out {
  font-size: 24px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
  bottom: 0px;
  position: fixed;
  color: white;
  padding:8px 10px;
  height: 40px;
  width: 228px;
  /* display:block; */
  cursor: pointer;
  border-radius: 6px;
  transition: 0.5s;
}

.fa-sign-out:hover, .fa-gear:hover {
  background-color: #D38146;
}

@media (max-width: 1420px) {
  .search {
    right: 0;
  }
  .input {
    width: 65%;
  }
  .fa-commenting {
    right: 200px;
  }
  .fa-bell {
    right: 135px;
  }
}

@media (max-width: 1092px) {
  .search {
    left: 85px;
  }
  .left {
    width: 85px;
  }
  #menu {
    font-size: 0;
  }
  .fa-home, .fa-user-circle, .fa-gamepad, .fa-comments, .fa-address-card, .fa-list-ol {
    display: flex;
    padding-left: 20px;
  }
  .fa-gear, .fa-sign-out {
    display: flex;
    padding-left: 20px;
    width: 70px;
  }
}

@media (max-width: 934px) {
  .input {
    width: 50%;
  }
}

@media (max-width: 660px) {
  .search {
    position: absolute;
    left: 60px;
    height: 60px;
  }
  .fa-search {
    bottom: 20px;
  }
  .left {
    width: 60px;
  }
  .input {
    width: 49%;
  }
  .fa-commenting {
    font-size: 27px;
    right: 105px;
  }
  .fa-bell {
    font-size: 27px;
    right: 65px;
  }
  .fa-eercast {
    margin-left: 10px;
  }
  .fa-home, .fa-user-circle, .fa-gamepad, .fa-comments, .fa-address-card, .fa-list-ol {
    display: flex;
    padding-left: 8px;
  }
  .fa-gear, .fa-sign-out {
    display: flex;
    padding-left: 8px;
    width: 46px;
  }
}