<div class="search">
  <span class="fa fa-search"></span>
  <input class="input" type="search" placeholder="Search...">
  <span class="fa fa-commenting"></span>
  <span class="fa fa-bell"></span>
</div>

<div class="left">
  <li class="fa fa-eercast" ><span id="menu"> POING</span></li>
  <br>
  <li routerLink="/home" class="fa fa-home"><span id="menu">&emsp;Home</span></li>
  <br>
  <li routerLink="/profile" class="fa fa-user-circle"><span id="menu">&emsp;Profile</span></li>
  <br>
  <li routerLink="/game" class="fa fa-gamepad"><span id="menu">&emsp;Play</span></li>
  <br>
  <li routerLink="/chat" class="fa fa-comments"><span id="menu">&emsp;Chat</span></li>
  <br>
  <li routerLink="/friends" class="fa fa-address-card"><span id="menu">&emsp;Friends</span></li>
  <br>
  <li routerLink="/leaderboard" class="fa fa-list-ol"><span id="menu">&emsp;Leaderboard</span></li>
  <br>
  <li class="fa fa-gear"><span id="menu">&emsp;Setting</span></li>
  <br>
  <li class="fa fa-sign-out"><span id="menu">&emsp;Sign out</span></li>
</div>