* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: var(--primary-border-color);
}


.wrap-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-left: calc(var(--primary-left-bar-width));
    padding-right: calc(var(--primary-left-bar-width));


    padding-top: calc(var(--top-bar-hieght));

    height: 100vh;
    
    overflow: none;
}


.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(35, 28, 28, 0.5); 
    padding: 4rem 1rem;
    border-radius: 1.4rem 1.4rem 0 0;
    height: 100%;
    gap: 1.6rem;
    width: min(80vw, 30rem);
    min-width: 16rem;
    z-index: 1;
}

.cm-logo {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    height: var(--top-bar-hieght);
    padding-left: 1rem;
    color: var(--primary-text-color);
    z-index: 1;
}
.cm-item-icon {
    width: 2.6rem;
    height: 2.6rem;
    fill: var(--primary-text-color);
}

.cm-item-text {
    font-size: 1.6rem;
    color: var(--primary-text-color);
  }




.cf-sec-one {
    display: flex;
    width: 8rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cf-sec-one-input {
    height: 0;
}
::file-selector-button {
    display: none;
  }

.cf-sec-one-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    border: 0.08rem solid var(--primary-text-color);
    border-radius: 50%;
}
.cf-sec-one-img {
    width: 8rem;
    height: 8rem;
    padding: 0.1rem;
    object-fit: cover;
    border-radius: 50%;
}
.cf-sec-one-label:hover {
    cursor: pointer;
    border: 0.08rem solid var(--second-text-color);
}

.cf-sec-one-icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--primary-text-color);
    position: absolute;
    left: 7.8rem;
    top: 0.6rem;
}

.cf-sec-one-icon:hover {
    cursor: pointer;
    fill: var(--second-text-color);

}


.cf-sec-two {
    height: 4rem;
}

.cf-sec-two-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cf-sec-two-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2.6rem;
    fill: var(--primary-text-color);
    background-color: var(--primary-text-color);
    
    border-top: 0.08rem solid var(--primary-border-color); 
    border-bottom: 0.08rem solid var(--primary-border-color); 
    border-left: 0.08rem solid var(--primary-border-color); 
    border-right: none; 

    border-radius: 0.2rem 0 0 0.2rem;

}
.cf-sec-two-icon {
    width: 1.8rem;
    height: 1.8rem;
    stroke: var(--primary-border-color);
    fill: none;
}
.cf-sec-two-icon.i1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cf-sec-two-text {
    background-color: var(--primary-text-color);

    border-top: 0.08rem solid var(--primary-border-color); 
    border-bottom: 0.08rem solid var(--primary-border-color); 
    border-right: 0.08rem solid var(--primary-border-color); 
    border-left: none; 

    border-radius: 0 0.2rem 0.2rem 0;
    color: var(--second-background-color);
    font-size: 1rem;
    font-weight: 300;
    height: 2.6rem;
    width: 12rem;
    padding-left: 0.6rem;
}
.cf-sec-two-text:focus {
    outline: none;
    box-shadow: none;
}

.cf-sec-two-icon.i1:hover {
    cursor: pointer;
    stroke: var(--second-text-color);

}

.cf-sec-two-alert {
    display: flex;
    align-items: center;
    color: #FF4343;
    font-size: 0.8rem;
    font-weight: 400;
}
.cf-sec-two-alert-hide {
    display: none;
}

.cf-sec-two-icon.i2 {
    width: 1rem;
    height: 1rem;
    stroke: #FF4343;
    margin-right: 0.3rem;

}
.cf-sec-two-icon.i3 {
    width: 1rem;
    height: 1rem;
    stroke: var(--second-text-color);
    margin-right: 0.3rem;

}


.cf-sec-two-btn {
    background-color: var(--second-text-color);
    border: 0.08rem solid var(--primary-text-color);
    border-radius: 0.2rem;
    height: 2rem;
    width: 13.8rem;
}

.cf-sec-two-message {
    display: flex;
    align-items: center;
    color: var(--second-text-color);
    background-color: transparent;
    top: 18.6rem;
    font-size: 0.8rem;
}


/***********************************************/
/*                Media Queries                */
/***********************************************/

@media (max-width: 1000px) {

    .wrap-component {
        padding-right: 0;

        padding-right: 0.6rem;
        padding-left: 0.6rem;
    
        padding-top: calc(var(--top-bar-hieght));
    
    }
    
}
    

@media (max-width: 450px) {
    .wrap-component {
        padding-right: 0;
        padding-left: 0;
        
        padding-top: calc(var(--top-bar-hieght));
        margin-left: 0;
    
    }
}