<div class="top-bar">
    
    <ul  class="top-bar-content">
        <div class="tb-sec-all tb-sec-one">
            <li (click)="toggleLeftBar()" class="tb-sec-item">
                <svg id="icon-menu" class="tb-sec-item-icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./assets/icons/menu.svg#icon-menu"></use>
                </svg>
            </li>
        </div>
        <div class="tb-sec-two">
            
            <li class="tb-sec-item i2">
                <svg class="tb-sec-item-icon i1" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./assets/icons/search.svg#icon-search"></use>
                </svg>
                <input class="tb-sec-item-text"
                    [(ngModel)]="searchQuery" 
                    (ngModelChange)="onSearchInputChange()" 
                    (keydown)="onSearchInputKeyDown($event)"
                    (keydown.enter)="onUserItemEnter($event)"
                    name="look" type="search" placeholder="search..."
                    appClickOutside (appClickOutside)="searchQuery && onClickedOutside1()" 
                    autocomplete="off">
            </li>
            <div class="tb-results" *ngIf="searchResults.length">
                <button class="tb-result-item" 
                    *ngFor="let searchResult of searchResults; let i = index" 
                    [class.active]="i === activeIndex" 
                    [routerLink]="['/profile', searchResult.username]" >
                
                <img class="tb-sec-item-img" [src]="searchResult.avatar" 
                
                    style="display: none" onload="this.style.display=''"
                    onerror="this.src='./assets/imgs/blank_profile.png'; this.style.display=''"
                />
                <span class="tb-sec-item-user">{{searchResult.username}}</span>
                
                </button>
            </div>
            
    </div>
    <div class="tb-sec-three">
        
        <li routerLink="chat" class="tb-sec-item" (click)="onClickChat()">
            <svg class="tb-sec-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/message.svg#icon-message"></use>
            </svg>
            <div class="tb-sec-item-indic" *ngIf="chatNotif">
                <span> {{ chatNotif }} </span>
            </div>
        </li>
        <li class="tb-sec-item notif" appClickOutside (click)="onClickNotif($event)" >
            <svg class="tb-sec-item-icon" xmlns="http://www.w3.org/2000/svg" [class.active]="isNotifClicked">
                <use xlink:href="./assets/icons/notif.svg#icon-notif"></use>
            </svg>
            <div class="tb-sec-item-indic" *ngIf="isNewNotif">
                <span> {{ isNewNotif }} </span>
            </div>
            
        </li>
    </div>
</ul>
<div class="app-notify-containe" *ngIf="isNotifClicked" 
    (buttonClickEvent)="onClickedOutside2()"
    appClickOutside (appClickOutside)="onClickedOutside2()">
    <app-notify 
        (buttonClickEvent)="onClickedOutside2()" [notifyData]="notifyData">
    </app-notify>
</div>

</div>

<app-left-bar-second *ngIf="this.menuBarService.iShowLeftBar"></app-left-bar-second>
