<app-left-bar-second *ngIf="this.menuBarService.iShowLeftBar"></app-left-bar-second>
<div class="top-bar" (click)="onOutClick()">
    
    <ul  class="top-bar-content">
        <div class="tb-sec-all tb-sec-one">
            <li (click)="toggleLeftBar()" class="tb-sec-item">
                <svg id="icon-menu" class="tb-sec-item-icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./assets/icons/menu.svg#icon-menu"></use>
                </svg>
            </li>
        </div>
        <div class="tb-sec-two">
            
            <li class="tb-sec-item i2">
                <svg class="tb-sec-item-icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./assets/icons/search.svg#icon-search"></use>
                </svg>
                <input class="tb-sec-item-text"
                    [(ngModel)]="searchQuery" 
                    (ngModelChange)="onSearchInputChange()" 
                    (keydown)="onSearchInputKeyDown($event)"
                    (keydown.enter)="onUserItemEnter($event)"
                    name="look" type="search" placeholder="search...">
            </li>
            <div class="tb-results" *ngIf="searchResults.length">
                <button class="tb-result-item" 
                    *ngFor="let searchResult of searchResults; let i = index" 
                    [class.active]="i === activeIndex" 
                    [routerLink]="['/profile', searchResult.username]">
                    
                    <img class="tb-sec-item-img" [src]="searchResult.avatar" alt="avatar">
                    <span class="tb-sec-item-user">{{searchResult.username}}</span>
                    
                </button>
            </div>
            
        </div>
        <div class="tb-sec-three">
            
            <li class="tb-sec-item">
                <svg class="tb-sec-item-icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./assets/icons/message.svg#icon-message"></use>
                </svg>
            </li>
            <li class="tb-sec-item">
                <svg class="tb-sec-item-icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./assets/icons/notif.svg#icon-notif"></use>
                </svg>
            </li>
        </div>
    </ul>
    
    
</div>
<!-- <div class="overlay" (click)="onOutClick()"></div> -->