

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: var(--primary-text-color);
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 12;
    pointer-events: none;
    background-color: none;
}


.app-notify-containe {
    position: absolute;
    top: var(--top-bar-hieght);
    right: var(--right-bar-width);
    z-index: 11;
    box-shadow: 0 0rem 2rem black;
}

/* top bar */
/******/
.top-bar {
    position: relative;
    user-select: none;
}

.top-bar-content {
    position: absolute;
    height: var(--top-bar-hieght);
    width: calc(100% - var(--right-bar-width));
    background-color: var(--top-bar-background-color);
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    box-shadow: 0 0rem 0.1rem black;
}


.tb-results {
    position: absolute;
    top: var(--top-bar-hieght);
    /* left: var(--left-bar-width); */
    display: flex;
    flex-direction: column;
    width: 12rem;
    z-index: 11;
    /* border-radius: 0.2rem; */
    box-shadow: 0 0rem 0.08rem black;
}

/* top bar section */
/******/
.tb-sec-one {
    width: var(--primary-left-bar-width);
    /* padding-left: 1.5rem; */
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tb-sec-two {
    /* position: relative; */
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-width: max-content;
    margin-left: 1rem;
    height: 1rem;
    gap: 0;
}
.tb-sec-three {
    display: flex;
    justify-content: space-evenly;
    width: 7rem;
    gap: 1rem;
}


/* effect */



/* top bar section item */
/******/
.tb-sec-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tb-sec-item.i2 {
    justify-content: flex-start;
}

.tb-result-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--third-background-color);
    height: 2.2rem;
    padding: 0.6rem;
    gap: 0.6rem;
    border: none;
}
.tb-result-item:hover {
    cursor: pointer;
    background-color: var(--primary-hover-background-color);
}

.tb-result-item.active {
    cursor: pointer;
    background-color: var(--primary-hover-background-color);
}


/* top bar section item specific */
/******/


/* top bar section item icon */
/******/
.tb-sec-item-icon 
{
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--primary-text-color);
    flex-shrink: 0;
}

.tb-sec-item-icon.active {
    fill: var(--second-hover-background-color);
}

/**/
/* effect */
.tb-sec-one :hover
.tb-sec-item-icon , 
.tb-sec-three :hover
.tb-sec-item-icon {
    fill: var(--second-hover-background-color);
    transition: all 0.1s ease;
    cursor: pointer;

}

/* top bar section item icon specific */
/******/


/* top bar section item img */
/******/
.tb-sec-item-img {

    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    object-fit: cover;

    pointer-events: none;
}



/* top bar section item text */
/******/

.tb-sec-item-text
{
    background: none;
    border: none;
    outline: none;
    margin-left: 0.6rem;
    font-size: 0.9rem;
    width: 100%;
    /* background-color: blueviolet; */

    max-width: 12rem;
    min-width: min-content;
    height: 1.6rem;
}

.tb-sec-item-text[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance: none;
  appearance: none;
}


/* top bar section item text specific */
/******/



/***********************************************/
/*                Media Queries                */
/***********************************************/

/* @media (max-width: 1200px) {
    

    
} */

@media (max-width: 1000px) {
    
    .app-notify-containe {
        right: 0.4rem;
    }
    /* top bar  */
    /******/
    .top-bar-content {
        width: 100%;
    }
    /* top bar section */
    /******/
    .tb-sec-one {
        /* width: 100%; */
        width: var(--second-left-bar-width);
        /* padding-left: 1.5rem; */
    }
}