


/* match-history  */
/******/

.match-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 50rem;
    /* min-width: max-content; */
    border-radius: 0.6rem;
    margin: 0 1rem 0 1rem;
    padding-top: 0.6rem;

}

.mh-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 3rem;
    min-width: max-content;
}

.mh-empty {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
    background-color: var(--second-background-color);
    border-radius: 1rem;
    min-width: 18rem;
    width: 100%;
    padding: 2rem 0;
}

/* match-history section  */
/******/
.mh-sec-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-text-color);
    background-color: transparent;

    /* background-color: rgba(88, 71, 71, 0.4); */
    /* background-image: linear-gradient(to bottom, rgba(88, 71, 71, 0.4), transparent); */
    padding: 0.2rem 1rem;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 4rem;
    z-index: 5;
    
}
.mh-sec-second {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-text-color);
    background-color: rgba(88, 71, 71, 0.4);
    border-radius: 1rem;
    width: 100%;
    height: 5.8rem;
    padding: 4.4rem 1rem 0.2rem 1rem;
    left: 0;
    top: 0rem;
    font-size: 0.8rem;
    font-weight: 500;
    border: 0.1rem solid var(--third-background-color);
    box-shadow: 0 0rem 0.2rem black;
    
}


/* match-history section user */
/******/

.mh-sec-main-user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

/* match-history section time */
/******/
.mh-sec-second-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

}


/* match-history section user dtails */
/******/

.mh-sec-img {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    border: solid 0.12rem;
    border: 0.01rem solid var(--primary-text-color);
}
.mh-sec-info-rate.left {
    text-align: end;
}
.mh-sec-info-rate-score {
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
}

.mh-sec-info-rate-res {
    font-size: 0.8rem;
    font-weight: 300;
}
.mh-sec-main-nb {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: white;
    margin-top: 1.8rem;
    gap: 0.6rem;
}

.mh-sec-main-vs {
    font-size: 1.2rem;
    flex: 1;
    text-align: center;
    color: var(--primary-text-color);

}

.mh-empty-img {
    width: 16rem;
}

.mh-empty-h {
    width: fit-content;
    font-size: 1.6rem;
}

.mh-empty-p {
    width: 90%;
    height: auto;
    text-align: center;
}

.mh-empty-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 23, 23, 0.5);
    z-index: 11;
}

/* match-history section time dtails */
/******/

.mh-sec-icon {
    width: 1.2rem;
    height: 1.2rem;
    stroke: var(--primary-text-color);
    fill: transparent;
}

/***********************************************/
/*                Media Queries                */
/***********************************************/
@media (max-width: 530px) {
    .mh-sec-main {
        padding: 0.2rem 0.4rem;
        height: 4rem;
        
    }
    .mh-sec-second {
        padding: 4rem 0.4rem 0.2rem 0.4rem;
        height: 5.8rem;
        
    }
    .mh-sec-icon-text {
        display: none;
    }
}
    