<app-left-bar></app-left-bar>
<app-top-bar></app-top-bar>
<app-online-friends></app-online-friends>

<div class="home-page">
    <div class="hp-sec-one">
        <div class="hb-s-one-profile">

        </div>
        <div class="hb-s-one-overview">
            <div class="hb-overview-hello">
                
            </div>
            <div class="hb-overview-stats">

            </div>
            <div class="hb-overview-rate">

            </div>
        </div>
    </div>
    <div class="hp-sec-two">

    </div>

</div>