
<div class="profile-id">
    <div class="pi-sec-one">
        <img class="pi-sec-one-img" src="https://cdn.intra.42.fr/users/0f4ab189b6f733fe558dea7254f1212a/eabdelha.jpg" alt="avatar">
        <svg class="pi-sec-one-icon" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="./assets/icons/modify.svg#icon-modify"></use>
        </svg>
    </div>
    <div class="pi-sec-two">
        <span> {{ userData.username }} </span>
    </div>
    <div class="pi-sec-three">
        <span> Edit profile </span>
    </div>
    
</div>


