
<div class="profile-id">
    <div class="pi-sec-one">
        <img class="pi-sec-one-img" [src]="userData.avatar" alt="avatar">
    </div>
    <div class="pi-sec-two">
        <span> {{ userData.username }} </span>
    </div>
    <button routerLink="/settings"  class="pi-sec-three" *ngIf="isOwnProfile; else isNotOwnProfile">
        <span> Edit profile </span>
    </button>
    <ng-template #isNotOwnProfile>
        <div class="pi-sec-four">
            
            <button class="pi-sec-four-btn b1"> 
                    <svg class="pi-sec-four-icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="./assets/icons/add.svg#icon-add"></use>
                    </svg>
                <span>Add</span> 
            </button>   
            <button class="pi-sec-four-btn b2"> 
                <svg class="pi-sec-four-icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./assets/icons/more.svg#icon-more"></use>
                </svg>
            </button>   
        </div>
    </ng-template>
</div>
