<div class="notifictions">
    <div class="nf-index">

    </div>
    <h1 class="nf-title">
        Notifications
    </h1>
    <div class="nf-items" *ngFor="let notif of notifyData">
        <div class="nf-item">
            <div class="nf-item-img-containe">
                <img class="nf-item-img" [src]="notif.avatar"
                    style="display: none" onload="this.style.display=''"
                    onerror="this.src='./assets/imgs/blank_profile.png'; this.style.display=''"
                />
            </div>
            <div class="nf-item-details">
                <div class="nf-item-dts-l1">
                    <div class="nf-item-dts-l1-name">
                        {{ notif.username }}
                    </div>
                    <div class="nf-item-dts-l1-date">
                        {{ notif.created_at  | relativeTime }}
                    </div>
                    
                </div>
                <div class="nf-item-dts-l2" *ngIf="notif.type === NotificationType.FRIEND_REQUEST">
                    Sent you a friend request.
                </div>
                <div class="nf-item-dts-l3">
                    <button class="nf-item-dts-l3-btn b1">
                        accept
                    </button>
                    <button class="nf-item-dts-l3-btn b2">
                        cancel
                    </button>
                </div>

            </div>

        </div>

    </div>

</div>