* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: var(--primary-text-color);
}


.notifictions {
    background-color: transparent;
    z-index: 11;
    border-radius: 4rem;
    /* box-shadow: 0 0rem 0.2rem black; */
}



.nf-index {
   
    display: block;
    height: 3rem;
    width: 3rem;
    background-color: var(--fourth-background-color);
    border: inherit;
    clip-path: polygon(0% 50%, 70% 100%, 0% 100%);
    transform: rotate(145deg);
    border-radius: 0 0 0 0.4rem;
    position: absolute;
    right: 0.5rem;
    top: -0.4rem;
    /* z-index: -1; */
}


.nf-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    background-color: var(--fourth-background-color);
    height: 2.4rem;
    padding: 0.4rem 1.2rem;
    border-radius: 0.4rem 0.4rem 0 0;
    font-size: 1.1rem;
    font-weight: 500;
}


.nf-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--fourth-background-color);
    border-width: 0 0.4rem 0.2rem 0.4rem;
    border-style: solid;
    border-color: var(--fourth-background-color);
    border-radius: 0 0 0.4rem 0.4rem ;
    
}


.nf-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.6rem;
    width: 100%;
    padding: 0.4rem 0.6rem;
    background-color: var(--third-background-color);
    border-bottom: 0.2rem solid var(--fourth-background-color);
}

.nf-item:first-child {
    border-radius: 0.4rem 0.4rem 0 0;
}
.nf-item:last-child {
    border-radius: 0 0 0.4rem 0.4rem;
}

.nf-item-img {
    width: 4rem;
    height: 4rem;
    padding: 0.1rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.01rem solid var(--primary-text-color);
    
}
.nf-item-img:hover {
    cursor: pointer;
    border-color: var(--second-text-color);
}

.nf-item-details {
    flex: 1;
}

.nf-item-dts-l1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nf-item-dts-l1-name {
    flex: 1;
    font-size: 1rem;
    font-weight: 600;
}
.nf-item-dts-l1-name:hover {
    cursor: pointer;
    color: var(--second-text-color);
}
.nf-item-dts-l1-date {
    font-size: 0.8rem;
    font-weight: 500;
}

.nf-item-dts-l3 {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-top: 0.6rem;
}

.nf-item-dts-l3-btn {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 5rem;
    height: 2rem;
    border-radius: 0.4rem;
    border: none;
}
.nf-item-dts-l3-btn.b1 {
    border: 0.08rem solid var(--modal-text-color) ;
    background-color: var(--fifth-background-color);
    color: var(--fourth-background-color);
}
.nf-item-dts-l3-btn.b2 {
    background-color: transparent;
    border: 0.08rem solid var(--primary-text-color);
    color: var(--primary-text-color);
}


.nf-item-dts-l3-btn.b1:hover {
    background-color: var(--second-hover-background-color);
}
.nf-item-dts-l3-btn.b2:hover {
        
    background-color: var(--second-hover-background-color);
}