<div class="notifictions">
    <h1 class="nf-title">
        Notifications
    </h1>
    <div class="nf-items">
        <div class="nf-item">
            <div class="nf-item-img-containe">
                <img class="nf-item-img" src="https://img.olympicchannel.com/images/image/private/t_s_pog_staticContent_hero_sm_2x/f_auto/primary/hpwh1cz3hy5cfcj1me6d"
                    style="display: none" onload="this.style.display=''"
                    onerror="this.src='./assets/imgs/blank_profile.png'; this.style.display=''"
                />
            </div>
            <div class="nf-item-details">
                <div class="nf-item-dts-l1">
                    <div class="nf-item-dts-l1-name">
                        Ilmahdi
                    </div>
                    <div class="nf-item-dts-l1-date">
                        1m ago
                    </div>
                    
                </div>
                <div class="nf-item-dts-l2">
                    Sent you a friend request.
                </div>
                <div class="nf-item-dts-l3">
                    <button class="nf-item-dts-l3-btn b1">
                        accept
                    </button>
                    <button class="nf-item-dts-l3-btn b2">
                        cancel
                    </button>
                </div>

            </div>

        </div>
        <div class="nf-item">
            <div class="nf-item-img-containe">
                <img class="nf-item-img" src="https://img.olympicchannel.com/images/image/private/t_s_pog_staticContent_hero_sm_2x/f_auto/primary/hpwh1cz3hy5cfcj1me6d"
                    style="display: none" onload="this.style.display=''"
                    onerror="this.src='./assets/imgs/blank_profile.png'; this.style.display=''"
                />
            </div>
            <div class="nf-item-details">
                <div class="nf-item-dts-l1">
                    <div class="nf-item-dts-l1-name">
                        Ilmahdi
                    </div>
                    <div class="nf-item-dts-l1-date">
                        1m ago
                    </div>
                    
                </div>
                <div class="nf-item-dts-l2">
                    Sent you a friend request.
                </div>
                <div class="nf-item-dts-l3">
                    <button class="nf-item-dts-l3-btn b1">
                        accept
                    </button>
                    <button class="nf-item-dts-l3-btn b2">
                        cancel
                    </button>
                </div>

            </div>

        </div>
        <div class="nf-item">
            <div class="nf-item-img-containe">
                <img class="nf-item-img" src="https://img.olympicchannel.com/images/image/private/t_s_pog_staticContent_hero_sm_2x/f_auto/primary/hpwh1cz3hy5cfcj1me6d"
                    style="display: none" onload="this.style.display=''"
                    onerror="this.src='./assets/imgs/blank_profile.png'; this.style.display=''"
                />
            </div>
            <div class="nf-item-details">
                <div class="nf-item-dts-l1">
                    <div class="nf-item-dts-l1-name">
                        Ilmahdi
                    </div>
                    <div class="nf-item-dts-l1-date">
                        1m ago
                    </div>
                    
                </div>
                <div class="nf-item-dts-l2">
                    Sent you a friend request.
                </div>
                <div class="nf-item-dts-l3">
                    <button class="nf-item-dts-l3-btn b1">
                        accept
                    </button>
                    <button class="nf-item-dts-l3-btn b2">
                        cancel
                    </button>
                </div>

            </div>

        </div>
        <div class="nf-item">
            <div class="nf-item-img-containe">
                <img class="nf-item-img" src="https://img.olympicchannel.com/images/image/private/t_s_pog_staticContent_hero_sm_2x/f_auto/primary/hpwh1cz3hy5cfcj1me6d"
                    style="display: none" onload="this.style.display=''"
                    onerror="this.src='./assets/imgs/blank_profile.png'; this.style.display=''"
                />
            </div>
            <div class="nf-item-details">
                <div class="nf-item-dts-l1">
                    <div class="nf-item-dts-l1-name">
                        Ilmahdi
                    </div>
                    <div class="nf-item-dts-l1-date">
                        1m ago
                    </div>
                    
                </div>
                <div class="nf-item-dts-l2">
                    Sent you a friend request.
                </div>
                <div class="nf-item-dts-l3">
                    <button class="nf-item-dts-l3-btn b1">
                        accept
                    </button>
                    <button class="nf-item-dts-l3-btn b2">
                        cancel
                    </button>
                </div>

            </div>

        </div>

    </div>

</div>