.convers {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 270px;
    margin-top: 186px;
    width: 290px;
    height: 65%;
    background-color: #231C1C;
    border-radius: 0px 0px 15px 15px;
}

.conver {
    display: flex;
    /* position: absolute; */
    height: 66px;
    width: 92%;
    background-color: #201717;
    margin-top: 10px;
    margin-left: 4%;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.conver:hover {
    background-color: #D38146;
}

#img {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 20px;
    margin-top: 17px;
    margin-left: 3%;
}

#name {
    color: #DEC8C8;
    margin-top: 7px;
    margin-left: 4%;
}

#date {
    position: absolute;
    font-size: small;
    color: #ABABAB;
    margin-top: 10px;
    margin-left: 60%;
}

.message {
    position: absolute;
    color: #ABABAB;
    font-size: small;
    margin-top: 33px;
    margin-left: 72px;
    max-width: 100px;
    max-height: 20px;
    overflow: hidden;
}

.fa-check-circle-o {
    position: absolute;
    color: white;
    margin-top: 37px;
    left: 62px;
}

#readMsg {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin-top: 37px;
    left: 62px;
}

.notReaded {
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 65px;
    margin-left: 100px;
    top: 37px;
    background-color: #FF7A00;
    color: white;
}

@media (min-width: 2000px) {
    .convers {
        left: 470px;
        width: 320px;
    }
}

@media (max-width: 1092px) {
    .convers {
        left: 110px;
    }
}

@media (max-width: 934px) {
    .convers {
        left: 35%;
        width: 320px;
    }
}

@media (max-width: 660px) {
    .convers {
        left: 22%;
    }
}
