<app-left-bar></app-left-bar>
<app-top-bar></app-top-bar>
<app-online-friends></app-online-friends>

<div class="direct" [style.background-color]="directClicked? '#231C1C' : '#201717'" (click)="onDirect()">
    <p style="color: white; position: absolute;margin-left: 25%;margin-top: 7px;">DIRECT</p>
    <span id="line" [style.background-color]="directClicked? '#D38146' : '#201717'"></span>
</div>

<div class="rooms" [style.background-color]="roomsClicked? '#231C1C' : '#201717'" (click)="onRooms()">
    <p style="color: white; position: absolute;margin-left: 24%;margin-top: 7px;">ROOMS</p>
    <span id="line" [style.background-color]="roomsClicked? '#D38146' : '#201717'"></span>
</div>

<div class="headerPart" [style.border-radius]="directClicked?'0px 15px 0px 0px' : '15px 0px 0px 0px'">
    <input type="text" class="search" placeholder="search...">
    <span id="rightSerch"></span>
    <span class="fa fa-search"></span>
</div>

<app-conversations [nameEmitted]="nameEvent"></app-conversations>
<app-direct *ngIf="directClicked" (customEvent)="onCustomEvent($event)"></app-direct>
<app-rooms *ngIf="roomsClicked"></app-rooms>