<app-nav-bar></app-nav-bar>

<div [ngClass]="((!smallScreen || screenWidth>934 || displayConvers) && !(addRoom && screenWidth<=934))? '':'small-screen'">
    <div class="direct" [style.background-color]="!roomsClicked? '#231C1C' : '#201717'" (click)="onDirect()">
        <p style="color: white; position: absolute;margin-left: 25%;margin-top: 7px;">DIRECT</p>
        <span id="line" [style.background-color]="!roomsClicked? '#D38146' : '#201717'"></span>
    </div>

    <div class="rooms" [style.background-color]="roomsClicked? '#231C1C' : '#201717'" (click)="onRooms()">
        <p style="color: white; position: absolute;margin-left: 24%;margin-top: 7px;">ROOMS</p>
        <span id="line" [style.background-color]="roomsClicked? '#D38146' : '#201717'"></span>
    </div>

    <div class="headerPart" [style.border-radius]="!roomsClicked?'0px 15px 0px 0px' : '15px 0px 0px 0px'">
        <input type="text" class="search" placeholder="search...">
        <span id="rightSerch"></span>
        <span class="fa fa-search"></span>
    </div>

    <div class="headerPart" [style.border-radius]="!roomsClicked?'0px 15px 0px 0px' : '15px 0px 0px 0px'" *ngIf="roomsClicked">
        <input type="text" class="roomsSearch" placeholder="search...">
        <span class="fa fa-search fa-rooms"></span>
        <span class="fa fa-plus-square" (click)="displayFormRoom()"></span>
    </div>

    

    <app-direct *ngIf="directClicked" (customEvent)="onCustomEvent($event)" (conversation)="getConversation($event)"></app-direct>
    <app-rooms *ngIf="roomsClicked" (conversData)="getRoomConvers($event)"></app-rooms>
</div>

<div class="createRoom" *ngIf="addRoom" [style.display]="addRoom? 'block' : 'none'">
    <span class="fa fa-angle-double-left" *ngIf="screenWidth<= 934" (click)="getConversations()"></span>
    <form [formGroup]="room">
        <input type="file" id="imageUpload">
        <p id="giveName" [style]="roomFormularTitles[0].error? 'color: red' : 'color:white'">{{roomFormularTitles[0].title}}</p>
        <input type="text" placeholder="Room name" id="roomName" formControlName="name">
    </form>
    <p id="giveName" [style]="roomFormularTitles[1].error? 'top: 45%;color: red' : 'top:45%;color:white'">{{roomFormularTitles[1].title}}</p>
    <div class="people">
        <div *ngFor="let user of users" class="users" (click)="addToRoom(user)" [style.backgroundColor]="user.added? '#D38146' : ''">
            <img src="../../../../assets/sghajdao.jpg" alt="avatar" id="img">
            <p id="name">{{user.user.firstName}}</p>
        </div>
    </div>
    <button id="submit" (click)="createRoom()"><span>Create</span></button>
    <button id="submit" style="left: 30px;" (click)="resetRoomFormular()"><span>Reset</span></button>
</div>

<app-conversations *ngIf="smallScreen" [userEmitted]="userEvent" [conversationEmitted]="conversationEvent" (getconvers)="conversEvent($event)" [roomConvers]="roomData"></app-conversations>
<app-online></app-online>