
<div class="wraper">

    <div class="overlay" (click)="closeMe()"></div>
    <div class="confirm-modal">
      <div class="cm-body">
        <img class="cm-body-img" (click)="onImgClick(0)" src="./assets/imgs/default.png"
          [class.is-selected]="mapId === 0"
        >
        <img class="cm-body-img" (click)="onImgClick(1)" src="./assets/imgs/salon_villa.png"
          [class.is-selected]="mapId === 1"
        >
        <img class="cm-body-img" (click)="onImgClick(2)" src="./assets/imgs/hawai_summer.png"
          [class.is-selected]="mapId === 2"
        >
        <img class="cm-body-img" (click)="onImgClick(3)" src="./assets/imgs/night_sahara.png"
          [class.is-selected]="mapId === 3"
        >

      </div>
      <div class="cm-btns">
        <button class="cm-btn b1" (click)="closeMe()">close</button>
        <button class="cm-btn b2" (click)="confirm()">Play</button>
      </div>
    </div>
    
  </div>