<div class="not-found">
    <div class="lp-sec-logo">
        <svg id="icon-logo" class="lp-sec-item-icon" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="./assets/icons/logo.svg#icon-logo"></use>
        </svg>
        <span class="lp-sec-item-text"> POING </span>
    </div>

    <div class="nf-sec-wrap">
        <div class="nf-sec-one">
            <img class="nf-sec-img i1" src="./assets/imgs/not_found.png">
        </div>
        <div class="nf-sec-two">
            <h2 class="nf-sec-t1"> Oops... page not found </h2>
            <img class="nf-sec-img i2" src="./assets/imgs/not_found.png">
            <p class="nf-sec-t2">
                The requested page could not be found on this server.
                <br><br>
                Please check the URL for any typographical errors, or go back to the homepage.
            </p>
            <button class="nf-sec-btn" routerLink="/home" routerLinkActive="active"> Homepage </button>
        </div>
    
    </div>
</div>


<div class="lp-bg" >
    <img class="lp-bg-img"  src="./assets/imgs/pong_login.png" >
    <div class="lp-bg-cover"></div>

</div>