<div class="list">
    <div class="roomSearch" (click)="displayOtherRooms()"><p style="text-align: center;margin-top: 5px;">Show me more rooms</p></div>

    <div *ngFor="let room of rooms" class="room" (click)="openRoom(room)" [style.backgroundColor]="(color.name === room.name)? color.color : ''">
        <img [src]="room.imagePath" alt="avatar" id="image"
        onerror="this.src='./assets/imgs/blank_profile.png'; this.style.display=''">
        <div style="width: 30%;margin-left: 2px;">
            <p id="roomName">{{room.name}}</p>

            <div *ngFor="let item of lastMessages" >
                <div *ngIf="item" class="message">
                    <p *ngIf="item && item.roomId === room.id" >{{item.message}}</p>
                </div>
            </div>
        </div>

        <div style="display: flex;width: 50%;">
            <div *ngFor="let item of lastMessages" >
                <div *ngIf="item">
                    <p *ngIf="item && item.roomId === room.id" class="date">{{editeDateFormat(item.date!)}}</p>
                </div>
            </div>

            <div *ngFor="let item of lastMessages">
                <span *ngIf="item.senderId === userId && item.roomId === room.id" class="fa fa-check-circle-o"></span>
            </div>
        </div>
    </div>
</div>
