.convers {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 270px;
    margin-top: 186px;
    width: 290px;
    height: 65%;
    background-color: #231C1C;
    border-radius: 0px 0px 15px 15px;
}

@media (min-width: 2000px) {
    .convers {
        left: 470px;
        width: 320px;
    }
}

@media (max-width: 1092px) {
    .convers {
        left: 110px;
    }
}

.small-screen {
    width: 0;
}

@media (max-width: 934px) {
    .convers {
        left: 35%;
        width: 320px;
    }
}

@media (max-width: 660px) {
    .convers {
        left: 22%;
    }
}