<div class="right-bar" 
    onmouseover="this.style.overflowY='scroll'" 
    onmouseout="this.style.overflowY='hidden'"
    >

    <div class="rb-sec-one">
        <img class="rb-sec-one-img" [src]="imgUrl"
            style="display: none" onload="this.style.display=''"
            onerror="this.src='./assets/imgs/blank_profile.png'; this.style.display=''"
        />
        <span class="rb-sec-one-text">ilmahdi</span>
    </div>
    <!-- <span class="rb-sec-all-hr"></span> -->
    <div class="rb-sec-two">
        <span class="rb-sec-two-text">Online friends</span>
    </div>
    <!-- <span class="rb-sec-all-hr"></span> -->
    <div class="rb-sec-three" *ngFor="let i of users">
        <div class="rb-sec-three-item" >    
            <img class="rb-sec-three-img"  [src]="imgUrl2" 
                style="display: none" onload="this.style.display=''"
                onerror="this.src='./assets/imgs/blank_profile.png'; this.style.display=''"
            />
            <span class="rb-sec-three-g-dot"></span>
            <span class="rb-sec-three-text">{{i.name}}</span>
        </div>
        <span class="rb-sec-all-hr"></span>
    </div>
</div>