<div class="right-bar" 
    onmouseover="this.style.overflowY='scroll'" 
    onmouseout="this.style.overflowY='hidden'"
    >

    <div class="rb-sec-one">
        <img class="rb-sec-one-img" [src]="userData.avatar"
            style="display: none" onload="this.style.display=''"
            onerror="this.src='./assets/imgs/blank_profile.png'; this.style.display=''"
        />
        <span class="rb-sec-one-text" [routerLink]="['/profile', userData.username]">{{userData.username}}</span>
    </div>
    
    <div class="rb-sec-two">
        <span class="rb-sec-two-text">Online friends</span>
    </div>

    <div class="rb-sec-three" *ngFor="let friend of friendList">
        <div class="rb-sec-three-item" *ngIf="connectedFriendsById[friend.id!]" [routerLink]="['/profile', friend.username]">    
            <img class="rb-sec-three-img"  [src]="friend.avatar" 
                style="display: none" onload="this.style.display=''"
                onerror="this.src='./assets/imgs/blank_profile.png'; this.style.display=''"
            />
            <span class="rb-sec-three-g-dot"></span>
            <span class="rb-sec-three-text">{{friend.username}}</span>
        </div>
        <span class="rb-sec-all-hr"></span>
    </div>

</div>