<ul class="left-bar">
    <div class="lb-item-logo">
        <li class="lb-item">
            <svg class="lb-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/logo.svg#icon-logo"></use>
            </svg>
            <span class="lb-item-text"> POING </span>
        </li>
    </div>
    <div class="lb-item-main">

        <li class="lb-item">
            <svg class="lb-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/home.svg#icon-home"></use>
            </svg>
            <span class="lb-item-text"> Home </span>
        </li>
        <li class="lb-item">
            <svg class="lb-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/profile.svg#icon-profile"></use>
            </svg>
            <span class="lb-item-text"> profile </span>
        </li>
        <li class="lb-item">
            <svg class="lb-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/play.svg#icon-play"></use>
            </svg>
            <span class="lb-item-text"> Play </span>
        </li>
        <li class="lb-item">
            <svg class="lb-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/chat.svg#icon-chat"></use>
            </svg>
            <span class="lb-item-text"> Chat </span>
        </li>
        <li class="lb-item">
            <svg class="lb-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/friend.svg#icon-friend"></use>
            </svg>
            <span class="lb-item-text"> Friends </span>
        </li>
        <li class="lb-item">
            <svg class="lb-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/leaderboard.svg#icon-leaderboard"></use>
            </svg>
            <span class="lb-item-text"> Leaderboard </span>
        </li>
    </div>
    <div class="lb-item-bottom">

        <li class="lb-item">
            <svg class="lb-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/setting.svg#icon-setting"></use>
            </svg>
            <span class="lb-item-text"> settings </span>
        </li>
        <li class="lb-item">
            <svg class="lb-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/signout.svg#icon-signout"></use>
            </svg>
            <span class="lb-item-text"> Sign Out </span>
        </li>
    </div>
    </ul>
    
    