<div class="otehrRooms" *ngIf="displayList">
    <div class="fa fa-angle-double-left"  (click)="hideOtherRooms()"></div>
    <div class="search">
        <div style="width: 280px;margin-top: 10px;">
            <input type="text" id="searchInput" placeholder="Search..." [(ngModel)]="searchQuery" (ngModelChange)="searchQueryRooms()">
        </div>
    </div>

    <h3 id="noRoom" *ngIf="!allRooms[0]">No room has found</h3>

    <div *ngFor="let room of allRooms" class="room" (click)="onJoinPublic(room)" [style.backgroundColor]="(protectSelect && room === roomWaitForPassword)? '#D38146' : ''">
        <div class="join" (click)="(protectSelect && room === roomWaitForPassword)? onJoinProtected() : ''">
            <p style="text-align: center;position: relative;">JOIN</p>
            <span class="fa fa-caret-right"></span>
        </div>
        <form [formGroup]="password" *ngIf="(protectSelect && room === roomWaitForPassword)">
            <input type="password" id="typing" placeholder="Entre password" formControlName="password">
        </form>
        <p id="name">{{room.name}}</p>
        <p id="type" *ngIf="!(protectSelect && room === roomWaitForPassword)">{{room.type}}</p>
        <img [src]="room.imagePath">
    </div>
</div>
