.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(11, 11, 11, 0.7);
    overflow: hidden; 
    z-index: 13;
}

.loading-gif {
    position: absolute; 
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    object-fit: cover;

}