
<div class="profile-stats">
    <div class="ps-sec-one">
        <app-profile-id></app-profile-id> 
    </div>
    <div class="ps-sec-two">
        <span class="ps-sec-two-item"> <span class="ps-sec-two-item-nb"> {{ userData.wins + userData.losses + userData.draws }} </span> games played  </span>
        <span class="ps-sec-two-item"> <span class="ps-sec-two-item-nb"> {{ userData.wins }} </span> wins  </span>
        <span class="ps-sec-two-item"> <span class="ps-sec-two-item-nb"> {{ userData.losses }} </span>  losses </span>
        <span class="ps-sec-two-item"> <span class="ps-sec-two-item-nb"> {{ userData.draws }} </span> draws  </span>
        <span class="ps-sec-two-item"> <span class="ps-sec-two-item-nb"> {{ userData.rating }} </span> elo rating  </span>
    </div>
</div>
