

app-profile-id {
    position: absolute;
    top: 1em;
    left: 1em;
}

/* profile stats */
/******/

.profile-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    max-width: 50rem;
    overflow: hidden;
    position: relative;
}



.ps-sec-one-img {
    
    height: 18rem;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    max-width: 50rem;
    object-fit: cover;
}
.ps-sec-one {
    height: 18rem;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    max-width: 50rem;
    background-image: url(../../../../assets/imgs/cover.png);
    object-fit: cover;
    
}
.ps-sec-two {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(var(--primary-transparent-color-background));
    position: absolute;
    bottom: 0rem;
    width: 100%;
    height: 2rem;
}
.ps-sec-two-item {
    font-size:medium;
    font-weight: 300;
    padding: 0 0.6rem;
}

.ps-sec-two-item:nth-last-child(2) {
    flex-grow: 1;
}



/***********************************************/
/*                Media Queries                */
/***********************************************/

@media (max-width: 630px) {
    
    app-profile-id {
        position: absolute;
        top: 0.8rem;
        left: calc(50% - 5rem);
    }
    
    .profile-stats {
        align-items: center;
        min-width: 10rem;
        padding-right: 0.6rem;
        padding-left: 0.6rem;
        margin-left: 0;
    }
    .ps-sec-one {
        /* background-color: var(--second-background-color);
        background-image: none; */

        background: url(../../../../assets/imgs/cover_mini.png);
        
    }
    .ps-sec-two {
        flex-direction: column;
        height: max-content;
        width: max-content;
        padding-left: 10%;
        padding-right: 10%;
        background-color: rgba(0,0,0,0%);
        border-top: 0.06rem  solid var(--second-text-color);
        padding-bottom: 0.3rem;
    }
    .ps-sec-two-item {
        display: flex;
        width: 100%;
        gap: 0.6rem
    }
    .ps-sec-two-item-nb {
        display: flex;
        width: 3rem;
        font-weight: 500;
        justify-content: center;
        align-items: center;
    }
    .ps-sec-one-img {
        display: none;
    }
    .ps-sec-one {
        height: 20rem;
    }
    
}

@media (max-width: 450px) {

    .profile-stats {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

