<div class="achievements">
    <div class="ac-progress-bar">
        <div class="ac-pb-wrap">
            <div class="ac-pb-steps"></div>
        </div>
        <div class="ac-pb-text"> Total: 5 from 12 </div>
    </div>
    <div class="ac-achievements-items">
        <div class="ac-achievements-item">
            <img class="ac-item-img" src="./assets/icons/iplay1.svg" />
            <div class="ac-item-text"> first game </div>
        </div>
        <div class="ac-achievements-item">
            <img class="ac-item-img" src="./assets/icons/iplay2.svg" />
            <div class="ac-item-text"> 9 games </div>
        </div>
        <div class="ac-achievements-item">
            <img class="ac-item-img" src="./assets/icons/iplay3.svg" />
            <div class="ac-item-text"> 99 games </div>
        </div>
        <div class="ac-achievements-item">
            <img class="ac-item-img" src="./assets/icons/iplay4.svg" />
            <div class="ac-item-text"> 999 games </div>
        </div>
        <div class="ac-achievements-item">
            <img class="ac-item-img" src="./assets/icons/iwin1.svg" />
            <div class="ac-item-text"> 3 wins in row </div>
        </div>
        <div class="ac-achievements-item">
            <img class="ac-item-img" src="./assets/icons/iwin2.svg" />
            <div class="ac-item-text"> 7 wins in row </div>
        </div>
        <div class="ac-achievements-item">
            <img class="ac-item-img" src="./assets/icons/iwin3.svg" />
            <div class="ac-item-text"> 21 wins in row </div>
        </div>
        <div class="ac-achievements-item">
            <img class="ac-item-img" src="./assets/icons/ilevel1.svg" />
            <div class="ac-item-text"> level 1000</div>
        </div>
        <div class="ac-achievements-item">
            <img class="ac-item-img" src="./assets/icons/ilevel2.svg" />
            <div class="ac-item-text"> level 2000</div>
        </div>
        <div class="ac-achievements-item">
            <img class="ac-item-img" src="./assets/icons/ilevel3.svg" />
            <div class="ac-item-text"> level 3000</div>
        </div>
        <div class="ac-achievements-item">
            <img class="ac-item-img" src="./assets/icons/iinvite1.svg" />
            <div class="ac-item-text"> invite 3 friends</div>
        </div>
        <div class="ac-achievements-item">
            <img class="ac-item-img" src="./assets/icons/iinvite2.svg" />
            <div class="ac-item-text"> invite 7 friends</div>
        </div>
    </div>

</div>