.roomFormul {
    width: 572px;
    height: 650px;
    margin-left: 20px;
    background-color: #231C1C;
    border-radius: 15px 15px 15px 15px;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-color: #5e6147 var(--second-background-color);
    scrollbar-width: 0.4rem;
}

#imageUpload {
    font-size: 20;
    appearance: none;
    border: none;
    outline: none;
}

#giveName {
    position: relative;
    text-align: center;
    margin-top: 130px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#addFriends {
    position: relative;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#roomName {
    width: 60%;
    height: 40px;
    border: none;
    outline: none;
    text-indent: 20px;
    border-radius: 10px;
    background-color: #584747;
    color: #9D8686;
}

.people {
    display: flex;
    width: 100%;
    height: 45%;
    justify-content: center;
}

.users {
    display: flex;
    height: 56px;
    width: 74%;
    background-color: #201717;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: 0.3s;
}

#img {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 3%;
}

#name {
    flex-grow: 1;
    color: #DEC8C8;
    margin-top: 14px;
    margin-left: 4%;
}

.asAdmin {
    height: 36px;
    width: 90px;
    background-color: #201717;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 10px;
    color: white;
    float: right;
    margin-right: 10px;
}

#submit {
    /* position: absolute; */
    float: right;
    margin-right: 20px;
    bottom: 10px;
    right: 30px;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #D38146;
}

#submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#submit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: -5px;
  right: -20px;
  transition: 0.5s;
  font-size: 20px;
}

#submit:hover span {
  padding-right: 15px;
}

#submit:hover span:after {
  opacity: 1;
  right: 0;
}

#reset {
    /* position: absolute; */
    margin-left: 20px;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #D38146;
  }
  
  #reset span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    #reset span:after {
      content: '\00AB';
      position: absolute;
      opacity: 0;
      top: -5px;
      left: -20px;
      transition: 0.5s;
      font-size: 20px;
    }
    
    #reset:hover span {
      padding-left: 15px;
    }
    
    #reset:hover span:after {
      opacity: 1;
      left: 0;
    }

.fa-angle-double-left {
    /* position: absolute; */
    font-size: 40px;
    color: white;
    top: 10px;
    margin-left: 10px;
    cursor: pointer;
}





.createRoom {
    width: 572px;
    height: 650px;
    margin-left: 30px;
    background-color: #231C1C;
    border-radius: 15px 15px 15px 15px;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-color: #5e6147 var(--second-background-color);
    scrollbar-width: 0.4rem;
}

#title {
    position: relative;
    top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}

.publicButton {
    position: relative;
    height: 35px;
    width: 90px;
    left: 41%;
    background-color: #201717;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.publicButton:hover {
    background-color: #D38146;
}

.public {
    position: relative;
    top: 50px;
    height: 150px;
    width: 100%;
}

#publicDescription {
    position: relative;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
}

.privateButton {
    position: relative;
    height: 35px;
    width: 90px;
    left: 41%;
    background-color: #201717;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.privateButton:hover {
    background-color: #D38146;
}

.private {
    position: relative;
    top: 50px;
    height: 150px;
    width: 100%;
}

#privateDescription {
    position: relative;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
}

.protectedButton {
    position: relative;
    height: 35px;
    width: 90px;
    left: 41%;
    background-color: #201717;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.protectedButton:hover {
    background-color: #D38146;
}

.protected {
    position: relative;
    top: 50px;
    height: 250px;
    width: 100%;
}

#protectedDescription {
    position: relative;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
}

#password {
    position: relative;
    width: 200px;
    height: 30px;
    left: 30%;
    border: none;
    outline: none;
    text-indent: 20px;
    border-radius: 10px;
    background-color: #584747;
    color: #9D8686;
}

/***********************************************/
/*                Media Queries                */
/***********************************************/

@media (max-width: 1000px) {
    .roomFormul{

    }
}

@media (max-width: 530px) {

}
    
@media (max-width: 450px) {

}
