.createRoom {
    position: absolute;
    margin-top: 90px;
    right: 270px;
    height: calc(100px + 65%);
    width: 500px;
    background-color: #231C1C;
    border-radius: 15px 15px 15px 15px;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-color: #5e6147 var(--second-background-color);
    scrollbar-width: 0.4rem;
}

#title {
    position: relative;
    top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}

.publicButton {
    position: relative;
    height: 35px;
    width: 90px;
    left: 41%;
    background-color: #201717;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.publicButton:hover {
    background-color: #D38146;
}

.public {
    position: relative;
    top: 50px;
    height: 110px;
    width: 100%;
}

#publicDescription {
    position: relative;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
}

.privateButton {
    position: relative;
    height: 35px;
    width: 90px;
    left: 41%;
    background-color: #201717;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.privateButton:hover {
    background-color: #D38146;
}

.private {
    position: relative;
    top: 50px;
    height: 110px;
    width: 100%;
}

#privateDescription {
    position: relative;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
}

.protectedButton {
    position: relative;
    height: 35px;
    width: 90px;
    left: 41%;
    background-color: #201717;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.protectedButton:hover {
    background-color: #D38146;
}

.protected {
    position: relative;
    top: 50px;
    height: 110px;
    width: 100%;
}

#protectedDescription {
    position: relative;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
}

#password {
    position: relative;
    width: 200px;
    height: 30px;
    left: 30%;
    border: none;
    outline: none;
    text-indent: 20px;
    border-radius: 10px;
    background-color: #584747;
    color: #9D8686;
}

#submit {
    position: absolute;
    bottom: 10px;
    right: 30px;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #D38146;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 15px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }

@media (max-width: 1324px) {
    .createRoom {
        right: 20px;
    }
}

@media (max-width: 1324px) {
    .createRoom {
        right: 40px;
    }
}

@media (max-width: 934px) {
    .createRoom {
        right: 9%;
        width: 70%;
    }
    .fa-angle-double-left {
        display: block;
    }
}

@media (max-width: 660px) {
    .createRoom {
        /* width: 65%; */
        height: 80%;
    }
}