<div class="roomFormul" *ngIf="backToRoomFormular">
    <span class="fa fa-angle-double-left" *ngIf="screenWidth<= 1350" (click)="getConversations()"></span>

    <div [style]="screenWidth<= 1350? 'margin-top: -30px;' : 'margin-top: 10px;'">
        <form [formGroup]="room" style="display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;">
            
            <div class="cf-sec-one">
                <label for="imageInput" class="cf-sec-one-label">
                    <img class="cf-sec-one-img" [src]="selectedImage" 
                        style="display: none" onload="this.style.display=''"
                        onerror="this.src='./assets/imgs/blank_profile.png'; this.style.display=''"
                    />
                    <svg class="cf-sec-one-icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="./assets/icons/modify.svg#icon-modify"></use>
                    </svg>
                </label>
                <input 
                    class="cf-sec-one-input" type="file" id="imageInput" 
                    accept="image/png, image/gif, image/jpeg, image/jpg"
                    (change)="onImageSelected($event)" 
                >
            </div>
            <p id="giveName" [style]="roomFormularTitles[0].error? 'color: red' : ''">{{roomFormularTitles[0].title}}</p>
            <div style="display: flex;align-items: center;justify-content: center;width: 60%;">
                <input type="text" placeholder="Room name" id="roomName" formControlName="name">
            </div>
        </form>
    </div>

    <br>
    <p id="addFriends" [style]="roomFormularTitles[1].error? 'color: red' : ''">{{roomFormularTitles[1].title}}</p>
    <div class="people">
        <div *ngFor="let user of users" class="users" (click)="addToRoom(user)" [style.backgroundColor]="user.added? '#D38146' : ''">
            <img [src]="user.user.avatar" alt="avatar" id="img">
            <p id="name">{{user.user.username}}</p>
            <div class="asAdmin" *ngIf="user.added" (click)="addAdmin(user)" [style.backgroundColor]="user.admin? '#D38146' : ''"><p style="margin-left: 8px;margin-top: 5px;">As Admin</p></div>
        </div>
    </div>
    <button id="submit" (click)="nextStep()"><span>Next</span></button>
    <button id="reset" style="left: 30px;" (click)="resetRoomFormular()"><span>Reset</span></button>
</div>


<div class="createRoom" *ngIf="!backToRoomFormular">
    <p id="title" [style.color]="error? 'red': 'white'">Chose a type</p>
    <div class="types">
        <div class="public">
            <div class="publicButton" (click)="onType('PUBLIC')" [style.backgroundColor]="types[0].select? '#D38146' : ''"><p style="margin-top: 15px;">Public</p></div>
            <!-- <p id="publicDescription">If you select public, it is mean that every user in this application can find this room and join it.</p> -->
        </div>

        <div class="protected">
            <div class="protectedButton" (click)="onType('PROTECTED')" [style.backgroundColor]="types[2].select? '#D38146' : ''"><p style="margin-top: 10px;">Protected</p></div>
            <!-- <p id="protectedDescription" *ngIf="!types[2].select">If you select public, it is mean that evry user in this application can find this room but no one can join without password.</p> -->
            <p id="protectedDescription" *ngIf="types[2].select">Create a password:</p>
            <form [formGroup]="room">
                <input type="password" placeholder="Enter a password" *ngIf="types[2].select" id="password" formControlName="password">
            </form>
        </div>

        <div class="private">
            <div class="privateButton" (click)="onType('PRIVATE')" [style.backgroundColor]="types[1].select? '#D38146' : ''"><p style="margin-top: 15px;">Private</p></div>
            <!-- <p id="privateDescription">If you select private, it is mean that no one can find or join this room without invitation.</p> -->
        </div>
    </div>

    <div style="margin-top: 12px;">
        <button id="submit" (click)="createRoom()"><span>Create</span></button>
        <button id="reset" style="left: 30px;" (click)="back()"><span>Back</span></button>
    </div>
</div>
