
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: var(--primary-text-color);
}


/* login page  */
/******/

.login-page {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  
}

.lp-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
  font-weight: 00;

}

.lp-bg {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

}
.lp-bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3rem);
}

.lp-bg-cover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(35, 28, 28, 0.5); 

}


/* login page section */
/******/

.lp-sec-one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  width: min(40%, 440px);
  left: 0;
  right: 0;
  min-width: max-content;
  z-index: 1;
  background-color: rgba(35, 28, 28, 0.2); 
  
}


.lp-sec-two {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;

}


.lp-sec-two-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 70rem;
  border-radius: 1rem;
  padding: 1rem;
  gap: 2.6rem;
}

.lp-sec-img {
  width: 60%;
  object-fit: cover;

  shape-rendering:geometricPrecision;
}

.lp-sec-text {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
}






.lp-sec-two-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 47, 39, 0.8);
  z-index: 10;
}


/* login page section login */
/******/
.lp-sec-logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  height: var(--top-bar-hieght);
  align-self: flex-start;
  padding-left: 1rem;
  
}


/* login page section login */
/******/

.lp-sec-login-wrap {
  flex: 1;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

}
.lp-sec-login {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 100%;
  padding-top: 30vh;
  padding-left: 2rem;
  padding-right: 2rem;
}



/* login page section item icon */
/******/

.lp-sec-item-icon {
  width: 2.6rem;
  height: 2.6rem;
  fill: var(--primary-text-color);
}

/* login page section logo item text */
/******/
.lp-sec-item-text {
  font-size: 1.6rem;
}

/* login page section gif */
/******/
.lp-sec-gif {
  width: 80%;

  overflow: hidden;
  clip-path: inset(1rem 0 0 0);
}




/* login page section login items*/
/******/

.lp-sec-login-t1 {
  font-size: 2.6rem;
  font-weight: 400;
  width: 19.6rem;
  margin-bottom: 1rem;
  /* padding-left: 16%; */
}

.lp-sec-login-t2 {
  font-size: 1rem;
  font-weight: 500;
  width: 19.6rem;
  /* padding-left: 16%; */
}

.lp-sec-login-item {
  width: 100%;
  margin-top: 2.6rem;
  display: flex;
  justify-content: center;
  /* padding-left: 16%; */
}


.lp-sec-login-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2.6rem;
  width: 20rem;
  gap: 1rem;
  border: solid 0.12rem var(--primary-border-color);
  border-radius: 0.6rem;

  background-color: var(--primary-text-color);
}

.lp-sec-login-button:hover {
  cursor: pointer;
  background-color: var(--second-hover-background-color);
}


.lp-sec-login-button-text {
  
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}


/***********************************************/
/*                Media Queries                */
/***********************************************/

@media (max-width: 800px) {

  .lp-sec-one {
    width: 100%;
  }
  .lp-sec-two {
    display: none;
  }
  .lp-sec-login {
    margin-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}