<div class="login-page">

    <div class="lp-sec-one">
        <div class="lp-sec-logo">
            <svg id="icon-logo" class="lp-sec-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/logo.svg#icon-logo"></use>
            </svg>
            <span class="lp-sec-item-text"> POING </span>
        </div>
        <div class="lp-sec-login-wrap">

            <div class="lp-sec-login">
                <span class="lp-sec-login-t1">Welcome Back</span>
                <span class="lp-sec-login-t2">login with intranet 42 to start playing</span>
                <div class="lp-sec-login-item">
                    
                    <div class="lp-sec-login-button" (click)="redirectToLogin()">
                        <span class="lp-sec-login-button-text">Sign in with</span>
                        <img id="icon-42-logo" class="lp-sec-item-icon"  src="./assets/icons/42_logo.svg" />
                    </div>
                </div>
            </div>
        </div
        >
    </div>
    
    <div class="lp-sec-two">
        <img id="icon-42-logo" class="lp-sec-gif"  src="./assets/gifs/pong_game.gif" />
    </div>
    
</div>