
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: var(--primary-text-color);
}

li {
    user-select: none;
}


/* left bar  */
/******/

.left-bar {
    position: fixed;
    background-color: var(--second-background-color);
    height: 100%;
    width: var(--primary-left-bar-width);
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    
    transition: all 0.4s ease;
    z-index: 10;

}


/* left bar section */
/******/

.lb-sec-one {
    height: var(--top-bar-hieght);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    
}

.lb-sec-two {
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 26rem;
    margin-top: 1rem;
}

.lb-sec-three {
    height: 6.8rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

/**/
/* effect */

.lb-sec-two :hover , 
.lb-sec-three :hover {
    background-color: var(--primary-hover-background-color);
    border-radius: 0.6rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* left bar section item */
/******/

.lb-sec-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 12rem;
    height: 3rem;
    padding-left: 0.8rem;

}


/* left bar section item specific */
/******/

.lb-sec-one
.lb-sec-item {
    /* justify-content: center; */
    gap: 0.8rem;
}



/* left bar section item icon */
/******/

.lb-sec-item-icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--primary-text-color);
}

#icon-back {
    fill: var(--second-hover-background-color);
    cursor: pointer;
}

/* left bar section item icon specific */
/******/
.lb-sec-one
.lb-sec-item-icon {
    width: 2.4rem;
    height: 2.4rem;
}


/* left bar section item text */
/******/
.lb-sec-item-text {
    font-size: 1.2rem;
}


/* left bar section item text specific */
/******/

.lb-sec-one
.lb-sec-item-text {
    font-size: 1.5rem;
}
