
<ul class="left-bar">
    <div class="lb-sec-one">
        <li (click)="toggleLeftBar()" class="lb-sec-item">
            <svg id="icon-back" class="lb-sec-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/back.svg#icon-back"></use>
            </svg>
            <span class="lb-sec-item-text"> POING </span>
        </li>
    </div>
    <div class="lb-sec-two">
        <li class="lb-sec-item" routerLink="/home">
            <svg class="lb-sec-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/home.svg#icon-home"></use>
            </svg>
            <span class="lb-sec-item-text"> Home </span>
        </li>
        <li class="lb-sec-item" routerLink="/profile">
            <svg class="lb-sec-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/profile.svg#icon-profile"></use>
            </svg>
            <span class="lb-sec-item-text"> Profile </span>
        </li>
        <li class="lb-sec-item" routerLink="/game">
            <svg class="lb-sec-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/play.svg#icon-play"></use>
            </svg>
            <span class="lb-sec-item-text"> Play </span>
        </li>
        <li class="lb-sec-item" routerLink="/chat">
            <svg class="lb-sec-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/chat.svg#icon-chat"></use>
            </svg>
            <span class="lb-sec-item-text"> Chat </span>
        </li>
        <li class="lb-sec-item" routerLink="/friends">
            <svg class="lb-sec-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/friend.svg#icon-friend"></use>
            </svg>
            <span class="lb-sec-item-text"> Friends </span>
        </li>
        <li class="lb-sec-item" routerLink="/leaderboard">
            <svg class="lb-sec-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/leaderboard.svg#icon-leaderboard"></use>
            </svg>
            <span class="lb-sec-item-text"> Leaderboard </span>
        </li>
    </div>
    <div class="lb-sec-all lb-sec-three">
        
        <li class="lb-sec-item" routerLink="/setting">
            <svg class="lb-sec-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/setting.svg#icon-setting"></use>
            </svg>
            <span class="lb-sec-item-text"> Settings </span>
        </li>
        <li class="lb-sec-item" routerLink="/signout">
            <svg class="lb-sec-item-icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./assets/icons/signout.svg#icon-signout"></use>
            </svg>
            <span class="lb-sec-item-text"> Sign Out </span>
        </li>
    </div>
</ul>

